# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# Native build
.externalNativeBuild/
.cxx/

# OS files
.DS_Store

# Logs
*.log

# APK / AAB
*.apk
*.aab

# Captures
captures/
